
     <!-- end inner page section -->
     <!-- product section -->
              <!-- <div class="col-sm-6 col-md-4 col-lg-3"> -->
                 <div class="box" style="max-height: 400px;" >
                        <h5 class="card-title">{{product.productname}}</h5>

                    <div class="option_container">
                       <div class="options">
                          <a (click)="ViewProductDetail(product.productid)" class="option1"> View Product
                        </a>
                          <a class="option2" style="cursor: pointer;" (click)="addToCart()"> Add to cart  </a>

                       </div>
                    </div>
                    <div class="img-box">
                        <img src="data:image/png;base64,{{product.productimage}}" class="img-responsive" height="200px" width="250px"  alt="Image">
                    </div>
                    <div class="detail-box">
                       <h5>
                        {{product.category}}

                       </h5>
                       <h6>
                        ₹ {{product.price}}                       </h6>
                    </div>
                    {{product.description}}
                 </div>
                 <!-- data:image/png;base64,{{product.productimage}} -->
              <!-- </div> -->
           <div class="btn-box">
           <!-- </div>
        </div>
     </section> -->


<!-- <div class="card">
        <div class="card-body">
                <img src="data:image/png;base64,{{product.productimage}}" class="img-responsive" height="150px"
                        width="200px" alt="Image">
                <p class="card-text "> {{product.description}}</p>
                <p class="card-text "><b>Price :</b> {{product.price}}</p>
                <button class="btn btn-primary" style="text-align: right" (click)="addToCart()">Add to cart</button>
        </div>
    
</div> -->
<br>