<app-navigation></app-navigation>

<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card">
      <div class="card-header">
          <h2>Shopping Cart</h2>
      </div>
      <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered m-0">
              <thead>
                <tr>
                  <!-- Set columns width -->
                  <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                  <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                  <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                  <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                  <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart">
                    <i class="ino ion-md-trash"></i></a></th>
                </tr>
              </thead>
              <tbody>
      
                <tr *ngFor="let cart of cartlist">
                  <td class="p-4">
                    <div class="media align-items-center">
                      <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/shopping_cart.png" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                      <div class="media-body">
                        <a href="#" class="d-block text-dark">  {{cart.productname}}  </a>
                        <small>
                          <span class="text-muted">Original Price:</span>
                          <span class="text-dark" > {{cart.price +( cart.price * 10)/100 | currency:'INR'}} </span> &nbsp;
                          <span class="text-muted">Discount: </span> 10%
                          <span class="text-muted">Ships from: </span> India
                        </small>
                      </div>
                    </div>
                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4">{{cart.price | currency:'INR'}}</td>
                  <td class="align-middle p-4">
                    <input type="number" class="text-center" (click)="updateCart(prod,quant)" value="{{cart.quantity}}" #quant>

                  </td>
                  <td class="text-right font-weight-semibold align-middle p-4"> {{cart.quantity*cart.price | currency:'INR'}}
                  </td>
            <input type="hidden" value="{{cart.bufcartId}}" #prod>
                  <td class="text-center align-middle px-0">
                    <button class="shop-tooltip close float-none text-danger" (click)="deleteItem(prod)">X</button>

                  </td>
                </tr>
      
      
              </tbody>
            </table>
          </div>
          <!-- / Shopping cart table -->
      
          <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
            <!-- <div class="mt-4">
              <label class="text-muted font-weight-normal">Promocode</label>
              <input type="text" placeholder="ABC" class="form-control">
            </div> -->
            <div class="d-flex">
              <!-- <div class="text-right mt-4 mr-5">
                <label class="text-muted font-weight-normal m-0">Discount</label>
                <div class="text-large"><strong>$20</strong></div>
              </div> -->
              <div class="text-right mt-4">
                <label class="text-muted font-weight-normal m-0">Total price</label>
                <div class="text-large"><strong>Total Sum : {{totalSum | currency:'INR'}}</strong></div>
              </div>
            </div>
          </div>
      
          <div class="float-right">
            <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</button>
            <div class="offset-1 col-2"><button type="button" class="btn btn-secondary align-right" (click)="placeOrder()">Checkout </button>
            
        </div>
    </div>
</div>



<!-- <div class="container">
  <br>
  <a routerLink="/home" class="btn btn-primary"><i class="fa fa-angle-left"></i> Continue Shopping</a><br>
  <p style="padding-top: 10px"> To change Quantity, Edit Quantity and Click on Update button</p>
  <table id="cart" class="table table-hover table-condensed table-borderless">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let cart of cartlist">
      <td>
        {{cart.productname}}
      </td>
      <td>{{cart.price | currency:'INR'}}</td>
      <td>

        <div class="row">
          <div class="col-6">
            <input type="number" value="{{cart.quantity}}" #quant>
            <input type="hidden" value="{{cart.bufcartId}}" #prod>
          </div>
          <div class="col-6">
            <button class="btn btn-info btn-sm" >Update</button>
          </div>
        </div>
      </td>
      <td>
        {{cart.quantity*cart.price | currency:'INR'}}

      </td>
      <td>
        <button class="btn btn-info btn-sm" (click)="deleteItem(prod)">Delete</button>
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="col-9">Total Sum : {{totalSum | currency:'INR'}}</div>
    <div class="offset-1 col-2"><button type="button" class="btn btn-primary align-right" (click)="placeOrder()">Checkout <i
          class="fa fa-angle-right"></i></button></div>

  </div>

</div> -->
<!-- <br><br><br><br><br><br> -->